*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    background-image: url(./Imagenes/depositphotos_21729293-stock-photo-poker-table.jpg);
    background-repeat: no-repeat;
    
}